$dark : #1e1d29;
$light : #fff;
$lighter : #f6f8ff;
$blue : #0CC9E5;
$blue-dark : #0287d0;
$gray : #343434;
$light-gray : #7e8890;
$yellow : #ffc83f;

$picked : #19B5FE;
$dropped : #2CC990;
$to-be-picked : #ffcf4b;
$stb : #e74c3c;


body, h1, h2, h3, h4, h5, h6 {
  font-size-adjust: 0.5;
}
h1, h2, h3, h4, h5, h6{

  &.thin{
    font-weight: 600;
  }

}

h1 {
  font-size: 2em;
  /* 2x body copy size = 32px */
  line-height: 1.25;
  /* 45px / 36px */
}

@media (min-width: 43.75em) {
  h1 {
    font-size: 2.5em;
    /* 2.5x body copy size = 40px */
    line-height: 1.125;
  }
}

@media (min-width: 56.25em) {
  h1 {
    font-size: 3em;
    /* 3x body copy size = 48px */
    line-height: 1.05;
    /* keep to a multiple of the 20px line height 
    and something more appropriate for display headings */
  }
}

h2 {
  font-size: 1.625em;
  /* 1.625x body copy size = 26px */
  line-height: 1.15384615;
  /* 30px / 26px */
}

@media (min-width: 43.75em) {
  h2 {
    font-size: 2em;
    /* 2x body copy size = 32px */
    line-height: 1.25;
  }
}

@media (min-width: 56.25em) {
  h2 {
    font-size: 2.25em;
    /* 2.25x body copy size = 36px */
    line-height: 1.25;
  }
}


h3 {
  font-size: 1.375em;
  /* 1.375x body copy size = 22px */
  line-height: 1.13636364;
  /* 25px / 22px */
}

@media (min-width: 43.75em) {
  h3 {
    font-size: 1.5em;
    /* 1.5x body copy size = 24px */
    line-height: 1.25;
  }
}

@media (min-width: 56.25em) {
  h3 {
    font-size: 1.75em;
    /* 1.75x body copy size = 28px */
    line-height: 1.25;
  }
}


h4 {
  font-size: 1.125em;
  /* 1.125x body copy size = 18px */
  line-height: 1.11111111;
}

@media (min-width: 43.75em) {
  h4 {
    line-height: 1.22222222;
    /* (22px / 18px */
  }
}


blockquote {
  font-size: 1.25em;
  /* 20px / 16px */
  line-height: 1.25;
  /* 25px / 20px */
}

@media (min-width: 43.75em) {
  blockquote {
    font-size: 1.5em;
    /* 24px / 16px = */
    line-height: 1.45833333;
    /* 35px / 24px */
  }
}

p{
  font-size: 16.5px;
  line-height: 1.6em;

  &.stylize{
    color: $light-gray;
  }

}

*{
	box-sizing: border-box;
}

html,body{
	background-color: $dark!important;
	color: $light;
	font-family: 'Lato';
}

.logo{
	font-weight: 800;
	font-size: 45px;
	text-transform: uppercase;
	color: rgb(126,214,26);
}

.container{

	.container-wrap{
		max-width: 1020px;
		margin: 0 auto;
	}

}


.header{
	
	.header-wrap{
		max-width: 1010px;
		margin: 0 auto;
		padding: 75px 10px;
	}

	display: block;
	margin-bottom: 20px;
	background-color: #1e1d29;
	background-image: url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 16c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm33.414-6l5.95-5.95L45.95.636 40 6.586 34.05.636 32.636 2.05 38.586 8l-5.95 5.95 1.414 1.414L40 9.414l5.95 5.95 1.414-1.414L41.414 8zM40 48c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zM9.414 40l5.95-5.95-1.414-1.414L8 38.586l-5.95-5.95L.636 34.05 6.586 40l-5.95 5.95 1.414 1.414L8 41.414l5.95 5.95 1.414-1.414L9.414 40z' fill='%23bbbbbb' fill-opacity='0.13' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.content{
	display: flex;
	flex-wrap: wrap;
}

a.card{
	width: calc(25% - 20px);
	flex-grow: 1;
	position: relative;
	margin: 10px;
	height: 250px;
	width: 100%;

	@media screen and(max-width: 1020px){
		&{
			width: calc(33.333333% - 20px);
			magin: 10px;
		}
	}

	@media screen and(max-width: 920px){
		
		&{
			width: calc(50% - 20px);
			magin: 10px;
		}
		
	}

	.card-wrap{
		position: relative;
		height: 100px;
		width: 100%;
		display: inline-block;
		border-radius: 3px;
		background-color: #fff;
		color: #242424;
		padding:  5px 10px 5px 5px;
		font-family: 'Lato';
		text-decoration: none;
	}

	.title{
		font-weight: bold;
		position: relative;
		margin: 5px 0;
		padding: 0 5px;
	}

	.details{
		padding: 10px;
		border-radius: 5px;
		color: #fff;
		margin-top: 15px;
		position: relative;
		display: block;
		transition: .22s all ease;
		font-family: 'Lato';
		font-size: 14px;

		h4{
			margin: 0;
			padding: 5px 0;
			border-bottom: 1px solid rgba(0,0,0,.1);
		}

		&:hover{
			&{
				margin-top: 20px;
				box-shadow: 0 5px 10px .1px $dark;
			}
		}

		&:after{
			content: '';
			width: 30px;
			height: 3px;
			position: absolute;
			z-index: 1;
			background-color: $yellow;
			bottom: -10px;
			border-radius: 3px 3px 0 0;
			left: 10px;
			margin-bottom: 10px;
		}

		.footer{
			font-size: 14px;
			font-weight: bold;
			text-transform: uppercase;
			border-top: 1px solid rgba(0,0,0,.1);
			padding-top: 10px;
		}

	}

	
}